# App configuration that will be loaded by dotenv
# Rename this file as .env
# .env file SHOULD NOT be checked in (it is in .gitignore)

# Environment this app is running in
NODE_ENV=development

# API version to use part of the URL path
APIVERSION=v1

# PORT to listen to
PORT=8080
